
.profileHead{
    background: #B3CDB9;
    padding: 19px 7% 32px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #eef1f4;
}
.profileHead .title{ text-align: left;}
.profileHead .title h1{ width: 100%; float: left; color: #37435a; font-size: 32px; font-family: "Graphik-Semibold"; font-weight: normal; line-height: 1.1; margin-bottom: 15px;}

.profileCnt{ background: #f7fafc!important; text-align: center; padding: 50px 0;}
.profileWrap{ width: 100%; max-width: 670px; display: inline-block; text-align: left;}
 h2{ width: 100%; float: left; color: #37435a; font-size: 34px; font-family: "Graphik-Light"; margin-bottom: 25px;}
 ul{ width: 100%; float: left; margin-bottom: 75px;}
 ul li{ width: 100%; float: left; margin: 8px 0; display: flex; align-items: flex-start; justify-content: space-between;}
 ul li label{ width: 25%; color: #7f8899; font-size: 16px; font-family: 'Graphik-Medium'}
 ul li .fieldDiv{ width: 75%; display: flex; align-items: center; justify-content: space-between;}
 ul li .fieldDiv .text{-webkit-appearance: none;  width: 100%; float: left; border-radius: 3px; border: solid 1px #e4e7ec; background-color: #ffffff; padding: 10px 15px; color: #37435a; font-size: 16px; line-height: 1.3; font-family: 'Graphik-Regular'; outline: none;}
 ul li .fieldDiv .selectWrap{ width: 100%; float: left; position: relative;}
 ul li .fieldDiv .selectWrap select{ -webkit-appearance: none; outline: none; width: 100%; float: left; border-radius: 3px; border: solid 1px #e4e7ec; background-color: #ffffff; padding: 10px 15px; color: #37435a; font-size: 16px; line-height: 1.3;}
 ul li .fieldDiv .text:focus, .profileWrap ul li .fieldDiv .select2-container--default .select2-selection--single:hover{ -webkit-box-shadow: 0px 0px 4px 0px rgba(45,119,255,1); -moz-box-shadow: 0px 0px 4px 0px rgba(45,119,255,1); box-shadow: 0px 0px 4px 0px rgba(45,119,255,1);}
 ul li .fieldDiv input:disabled.text{opacity: 0.57;}
 ul li .fieldDiv .fieldSub{ display: flex; align-items: center; justify-content: space-between; width: 55%;}
 ul li .fieldDiv .fieldSub1{ width: calc(40% - 20px); position: relative;}
 ul li .fieldDiv .fieldSub label{ width: calc(70% - 40px);}
 ul li .fieldDiv .fieldSub1 img{ position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;}
